<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324672697208-p5oapa4s7n2o870f18kfco89sgq5vjjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324672697208-p5oapa4s7n2o870f18kfco89sgq5vjjr</string>
	<key>API_KEY</key>
	<string>AIzaSyD4uGQQf9ePlOLd3u6Cj1C1mlZNx2HdVY8</string>
	<key>GCM_SENDER_ID</key>
	<string>324672697208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyeonsang.MARO</string>
	<key>PROJECT_ID</key>
	<string>maro-3978a</string>
	<key>STORAGE_BUCKET</key>
	<string>maro-3978a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324672697208:ios:9cf2b91bdb9c30855c0e8d</string>
</dict>
</plist>