<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422958895227-tmfgrohc1he35m6p0qlq7vfb9u8opeji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422958895227-tmfgrohc1he35m6p0qlq7vfb9u8opeji</string>
	<key>API_KEY</key>
	<string>AIzaSyApOlHDrbSzuMUFOy7Zc2Ms058N4QMURJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>422958895227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kim.Maro</string>
	<key>PROJECT_ID</key>
	<string>maro-d4fe2</string>
	<key>STORAGE_BUCKET</key>
	<string>maro-d4fe2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422958895227:ios:66101513bc09ea8a96d2de</string>
</dict>
</plist>